body {
	min-width: 20rem;
	font-size: 1rem;
	color: #000;
}

.shell {
	max-width: 67.25rem;
	margin: 0 auto;

	/* Mobile */
	@media ($mobile) {
		width: 100%;
		padding: 0 2.9375rem;
	}
}

main {
	height: 100%;
	width: 100%;
	margin-top: 6.625rem;

	@media ($mobile) {
		margin-top: 4.5rem;
	}
}

.wpcf7 form .wpcf7-response-output {
	margin-top: 6em;
}

.section__banner {
	width: 100%;
	height: 100%;

	.content__banner {
		width: 100%;
		height: 100%;

		.image {
			width: 100%;
			height: 100%;

			.banner__desktop {
				@media ($mobile) {
					display: none;
				}
			}

			.banner__mobile {
				display: none;

				@media ($mobile) {
					display: block;
				}
			}

			img {
				width: 100%;
				object-fit: cover;
				object-position: right;
				height: 22.5625rem;

				@media ($desktopLarge) {
					height: 100%;
					object-position: center;
				}

				@media ($mobile) {
					object-position: center;
					height: 100%;
				}
			}
		}
	}
}