.section__reconhecimento {
    width: 100%;
    margin: 5.5rem 0 7.5481rem;

    @media ($mobile) {
        margin: 3.75rem 0 2.9787rem;
    }

    .content__reconhecimento {
        width: 100%;

        h3 {
            @include font-roboto(1.5rem, 300);
            color: $text;
            line-height: 2rem;
            max-width: 38.8125rem;
            margin-bottom: 6rem;

            @media ($mobile) {
                font-size: 0.875rem;
                line-height: 1.25rem;
                margin-bottom: 2.68rem;
                max-width: 17.5rem;
            }
        }

        h1 {
            @include font-ubuntu(2rem, 300);
            color: $primary;
            text-transform: uppercase;
            line-height: 2.3125rem;
            max-width: 39.8125rem;
            margin-bottom: 5.1875rem;

            @media ($mobile) {
                font-size: 1.5rem;
                line-height: 2rem;
                max-width: 16.6875rem;
                margin-bottom: 5rem;
            }
        }

        .inner__reconhecimento {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .box {
                width: 28.4688rem;
                margin-right: 5.6563rem;
                display: flex;
                align-items: center;
                padding: 1.5rem 0;
                border-bottom: 0.0625rem solid $primary;
                margin-bottom: 1.82rem;

                @media ($mobile) {
                    width: 100%;
                    margin-bottom: 1.4925rem;
                    margin-right: auto;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(5) {
                    .text {
                        max-width: 16rem;

                        @media ($mobile) {
                            max-width: 11.75rem;
                        }
                    }
                }

                &:nth-last-child(2),
                &:nth-last-child(1) {
                    border: none;
                }

                &:nth-last-child(2) {
                    @media ($mobile) {
                        border-bottom: 0.0625rem solid $primary;
                    }
                }

                &:nth-child(6) {
                    .image {
                        justify-content: center;
                    }
                }

                .image {
                    width: 10.5rem;
                    display: flex;
                    margin: auto;

                    @media ($mobile) {
                        width: auto;
                        margin: 0;
                        padding-left: 1rem;
                    }
                }

                .text {
                    max-width: 14.625rem;
                    align-self: baseline;

                    @media ($mobile) {
                        width: 100%;
                        max-width: 100%;
                        margin-left: 1rem;
                        margin-top: 2rem;
                    }

                    .name {
                        @include font-ubuntu(1.5rem, 300);
                        color: $primary;
                        text-transform: uppercase;
                        line-height: 1.75rem;

                        @media ($mobile) {
                            font-size: 1.125rem;
                            line-height: 1.3125rem;
                        }
                    }

                    .description {
                        @include font-roboto(1rem, 300);
                        color: $text;
                        line-height: 1.5rem;
                        margin-top: 1rem;
                        max-width: 16.0625rem;
                        min-height: 8.8125rem;

                        @media ($mobile) {
                            max-width: 17.5rem;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                        }
                    }
                }
            }
        }
    }

}

.section__servicos__reconhecimento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://almalaw.com.br//wp-content/uploads/2023/01/background-servicos-reconhe.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 19.75rem;
    background-color: $primary;

    @media ($mobile) {
        background-image: url(https://almalaw.com.br//wp-content/uploads/2023/01/fundo-mobile-servicos-reconhecimento.png);
        background-position: center bottom;
        background-size: 100%;
        height: 15.1875rem;
        justify-content: flex-start;
    }

    h2 {
        @include font-ubuntu(2.5rem, 300);
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2.4869rem;

        @media ($mobile) {
            font-size: 1.5rem;
            line-height: 1.75rem;
            margin-bottom: 1.5rem;
            padding-top: 3.75rem;
            max-width: 17.5rem;
        }
    }

    .btn__outline__white {
        @media ($mobile) {
            width: 9.125rem;
        }
    }
}